@font-face {
  font-family: "CatSong";
  src: url("/static/fonts/cat-song-font/CatSong-3lly3.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --softWhite: #fbfbfb;
  --purple: #a194f9d2;
  --purpleLight: #c5baff;
}

body {
  background-color: var(--purple);
  font-family: "CatSong";
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.main-container,
.title-container,
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title-container {
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title-img {
  width: 8rem;
  margin-right: 1rem;
}

.title {
  font-size: 4rem;
}

.icon-container {
  margin-top: 0.5rem;
}

.icons {
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.chat-box {
  position: sticky;
  height: 32rem;
  width: 40rem;
  padding: 0 10px 50px 10px;
  overflow-y: auto;
  border-radius: 1rem;
  background-color: var(--softWhite);
  display: flex;
  flex-direction: column;
  border: solid 0.2rem black;
}

.message-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--purpleLight);
  padding: 1rem;
  border-radius: 0 0 0.2rem 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  border-top: solid 0.2rem black;
}

#chat {
  flex: 1;
  overflow-y: auto;
  padding: 1rem 1rem 4rem 1rem;
  box-sizing: border-box;
}

#message-input {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--softWhite);
  border: solid 1px var(--softWhite);
  width: 85%;
}

#message-input:focus {
  outline: none;
}

input[type="text"] {
  font-size: 1rem;
}

.paw {
  width: 3.5rem;
}
.message {
  margin-bottom: 10px;
}

.cat-image {
  max-width: 25rem;
  margin: 10px 0;
}
