<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='script.js') }}"
      defer
    ></script>
    <link
      rel="icon"
      href="/static/imgs/cat.PNG"
    />
    <title>CatBot</title>
  </head>
  <body>
    <div class="main-container">
      <div class="title-container">
        <img
          class="title-img"
          src="/static/imgs/cat.png"
          alt="Cat"
        />
        <h1 class="title">CatBot</h1>
      </div>
      <div class="chat-container">
        <div class="icon-container">
          <img
            class="icons"
            src="/static/imgs/volume.png"
            alt="Volume Icon"
            id="volume-icon"
          /><img
            class="icons"
            src="/static/imgs/settings.png"
            alt="Settings Icon"
          /><img
            class="icons"
            src="/static/imgs/download.png"
            alt="Download Icon"
          />
          <img
            class="icons"
            src="/static/imgs/history.png"
            alt="History Icon"
          />
        </div>
        <div class="chat-box">
          <p id="first-message">What can I help with?</p>
          <div id="chat"></div>
          <div class="message-container">
            <input
              type="text"
              placeholder="Message CatBot"
              id="message-input"
            />
            <button id="send-button">
              <img
                class="paw"
                src="/static/imgs/paw.png"
                alt="Cat Paw"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
