<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='script.js') }}"
      defer
    ></script>
    <link
      rel="icon"
      href="/static/imgs/cat.PNG"
    />
    <title>CatBot</title>
  </head>
  <body></body>
</html>
